<a href="https://colab.research.google.com/github/prav87654/Classification-Cardiovascular-risk-prediction/blob/main/Classification_model_Praveen_S.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##                                              **CAPSTONE PROJECT 3**

#**Cardiovascular Risk Prediction (Classification model)**

###The dataset is from an ongoing cardiovascular study on residents of the town of Framingham,Massachusetts. The classification goal is to predict whether the patient has a 10-year risk offuture coronary heart disease (CHD). The dataset provides the patientsâ€™ information. It includes over 4,000 records and 15 attributes.

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import math

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Mounting google drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Loading the dataset

df=pd.read_csv('/content/drive/MyDrive/data_cardiovascular_risk.csv')

In [4]:
df.head()

   id  age  education sex  ...    BMI  heartRate  glucose  TenYearCHD
0   0   64        2.0   F  ...    NaN       90.0     80.0           1
1   1   36        4.0   M  ...  29.77       72.0     75.0           0
2   2   46        1.0   F  ...  20.35       88.0     94.0           0
3   3   50        1.0   M  ...  28.26       68.0     94.0           1
4   4   64        1.0   F  ...  26.42       70.0     77.0           0

[5 rows x 17 columns]

In [5]:
df.tail()

        id  age  education sex  ...    BMI  heartRate  glucose  TenYearCHD
3385  3385   60        1.0   F  ...  29.28       70.0    103.0           0
3386  3386   46        1.0   F  ...  21.96       80.0     84.0           0
3387  3387   44        3.0   M  ...  28.92       73.0     72.0           1
3388  3388   60        1.0   M  ...  23.01       80.0     85.0           0
3389  3389   54        3.0   F  ...  29.88       79.0     92.0           0

[5 rows x 17 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3390 entries, 0 to 3389
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3390 non-null   int64
 1   age              3390 non-null   int64
 2   education        3303 non-null   float64
 3   sex              3390 non-null   object
 4   is_smoking       3390 non-null   object
 5   cigsPerDay       3368 non-null   float64
 6   BPMeds           3346 non-null   float64
 7   prevalentStroke  3390 non-null   int64
 8   prevalentHyp     3390 non-null   int64
 9   diabetes         3390 non-null   int64
 10  totChol          3352 non-null   float64
 11  sysBP            3390 non-null   float64
 12  diaBP            3390 non-null   float64
 13  BMI              3376 non-null   float64
 14  heartRate        3389 non-null   float64
 15  glucose          3086 non-null   float64
 16  TenYearCHD       3390 non-null   int64
dtypes: float64(9), int64(6), object(2)
memory usage: 450.4+ KB

In [7]:
df.describe(include='all')

                 id          age  ...      glucose   TenYearCHD
count   3390.000000  3390.000000  ...  3086.000000  3390.000000
unique          NaN          NaN  ...          NaN          NaN
top             NaN          NaN  ...          NaN          NaN
freq            NaN          NaN  ...          NaN          NaN
mean    1694.500000    49.542183  ...    82.086520     0.150737
std      978.753033     8.592878  ...    24.244753     0.357846
min        0.000000    32.000000  ...    40.000000     0.000000
25%      847.250000    42.000000  ...    71.000000     0.000000
50%     1694.500000    49.000000  ...    78.000000     0.000000
75%     2541.750000    56.000000  ...    87.000000     0.000000
max     3389.000000    70.000000  ...   394.000000     1.000000

[11 rows x 17 columns]

In [8]:
df['TenYearCHD'].value_counts()

0    2879
1     511
Name: TenYearCHD, dtype: int64

In [9]:
heart_df=df.drop(columns=["id","education"],axis=1 )
heart_df

      age sex is_smoking  cigsPerDay  ...    BMI  heartRate  glucose  TenYearCHD
0      64   F        YES         3.0  ...    NaN       90.0     80.0           1
1      36   M         NO         0.0  ...  29.77       72.0     75.0           0
2      46   F        YES        10.0  ...  20.35       88.0     94.0           0
3      50   M        YES        20.0  ...  28.26       68.0     94.0           1
4      64   F        YES        30.0  ...  26.42       70.0     77.0           0
...   ...  ..        ...         ...  ...    ...        ...      ...         ...
3385   60   F         NO         0.0  ...  29.28       70.0    103.0           0
3386   46   F         NO         0.0  ...  21.96       80.0     84.0           0
3387   44   M        YES         3.0  ...  28.92       73.0     72.0           1
3388   60   M         NO         0.0  ...  23.01       80.0     85.0           0
3389   54   F         NO         0.0  ...  29.88       79.0     92.0           0

[3390 rows x 15 columns]

In [10]:
heart_df.isnull().sum()

age                  0
sex                  0
is_smoking           0
cigsPerDay          22
BPMeds              44
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             38
sysBP                0
diaBP                0
BMI                 14
heartRate            1
glucose            304
TenYearCHD           0
dtype: int64

In [11]:
#total percentage of missing data
missing_data = heart_df.isnull().sum()
total_percentage = (missing_data.sum()/heart_df.shape[0]) * 100
print(f'The total percentage of missing data is {round(total_percentage,2)}%')

The total percentage of missing data is 12.48%